<div class="container-fluid">
  <form role="form" novalidate class="css-form" name="myForm">
  <div class="panel">
          <div class="alert alert-success sample-show-hide" ng-show="successMessage">
            <button type="button" class="close" ng-click="successMessage=null">&times;</button>
            <strong>Success!</strong> {{successMessage}}
          </div>
          <p><input type="submit" class="btn btn-primary" ng-click="update(customer)" value="Mettre à jour" ng-disabled="!myForm.$valid" ng-show="actionType=='update'"/>        
        <input type="submit" class="btn btn-primary" ng-click="save(customer)" value="Enregistrer" ng-disabled="!myForm.$valid" ng-show="actionType=='add'"/><a class="btn btn-warning" href="#/booking/{{customer._id}}" role="button"  ng-show="actionType=='update'">Faire une réservation</a></p>
        <ul class="list-group">
            <li class="list-group-item">       
        <div class="form-group" ng-class="{'has-warning': myForm.lastName.$error.required}">
          <label for="lastName" class="control-label">Nom</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Nom" ng-model="customer.lastName" name="lastName" required ng-change="checkExistingUser()"/>
            <div class="input-group-addon bg-warning">Requis</div>
          </div>
          <div class="list-group" ng-if="suggestCustomers.length > 0">
            <a href class="list-group-item list-group-item-info">Did you mean:</a>  
            <a href="#/customer/{{suggestCustomer._id}}" class="list-group-item" ng-repeat="suggestCustomer in suggestCustomers">{{suggestCustomer.firstName}} {{suggestCustomer.lastName}}</a>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': myForm.firstName.$error.required}">
          <label for="firstName" class="control-label">Prénom</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Prénom" ng-model="customer.firstName" name="firstName" required/>
            <div class="input-group-addon bg-warning">Requis</div>
            </div>
        </div>
         <div class="form-group" ng-class="{'has-error': myForm.email.$error.email, 'has-warning': myForm.email.$error.required}">     
          <label for="email" class="control-label">Email</label>
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input type="email" name="email" class="form-control input-sm" placeholder="Email" ng-model="customer.email" required />
            <div class="input-group-addon bg-warning">Requis</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Téléphone</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Téléphone" ng-model="customer.phone" />
          </div>
        </div>       
        <div class="form-group">
          <label for="comments" class="control-label">Commentaires</label>
          <textarea class="form-control" rows="3" ng-model="customer.comments"/>
        </div>        
            </li>
          </ul>   
  </div>
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info"><input class="btn btn-default" type="button" value="≧^◡^≦" ng-click="customer.cats.push({})"></li>
        <li class="list-group-item" ng-repeat="cat in customer.cats">
            <ng-form name="catForm" class="form-inline">
              <div class="form-group" ng-class="{'has-warning': catForm.catName.$error.required}">
                <label class="sr-only" for="exampleInputEmail3">Nom</label>
                <input type="text" class="form-control input-sm" placeholder="Nom" ng-model="cat.name" name="catName" required/>
              </div>
              <div class="form-group">
                <label class="sr-only" for="Naissance">Date de Naissance</label>
                <!--<input type="date" class="form-control input-sm" ng-model="cat.birthDate" ng-model-options="{ getterSetter: true }"/>-->
                <input type="date" class="form-control input-sm" ng-model="cat.birthDate" placeholder="yyyy-MM-dd"/>
              </div>
              <div class="form-group">
                <label class="sr-only" for="Sexe">Sexe</label>
                <!--<input type="date" class="form-control input-sm" ng-model="cat.birthDate" ng-model-options="{ getterSetter: true }"/>-->
                <select class="form-control input-sm" ng-model="cat.sexe" ng-options="sexe for sexe in sexes"></select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="Comments">Comments</label>
                <!--<input type="date" class="form-control input-sm" ng-model="cat.birthDate" ng-model-options="{ getterSetter: true }"/>-->
                <textarea class="form-control" rows="1" cols="100" ng-model="cat.comments"/>
              </div>
              <div class="form-group" >              
              <label class="sr-only" for="Illustration">Illustration</label>
              <input type="hidden"  ng-model="cat.illustration">
              <img ng-src="http://localhost:8090/static/{{cat.illustration}}" class="img-circle" width="50px" height="50px" ng-click="setActiveIndex($index)" data-toggle="modal" data-target="#myModal" ng-if="cat.illustration != null">
              <button class="btn btn-primary" ng-click="setActiveIndex($index)" data-toggle="modal" data-target="#myModal" ng-if="cat.illustration == null">Photo</button>
              <button class="btn btn-danger" type="button" ng-click="customer.cats.splice($index)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              </div>
            </ng-form>
        </li>
      </ul>
      </div>
  </form>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <form name="uploadForm" ng-upload="uploadFile(content, completed)" ng-upload-loading="uploadStart()" action="{{uploadHost}}/upload" class="ng-pristine ng-valid form-inline" method="post" enctype="multipart/form-data">
            <span class="btn btn-warning btn-file">
                Browse <input type="file" name="file">
            </span>             
            <button type="submit" class="btn btn-default" ng-disabled="$isUploading">Upload</button>            
          </form><!-- ng-click="$flow.opts.target='/upload/image/cat/'+cat._id+'/customer/'+customer._id"-->
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container 