<div class="container-fluid">
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Accès rapide</div>
      <input type="search" class="form-control input-sm" id="searchCustomer" placeholder="Rechercher un client" ng-model="query">
    </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Détail</th>
          <th>Booking</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody id="customerBodyTable">
        <tr ng-repeat="customer in customers | filter:query" class="sample-show-hide">
          <td>{{ customer._id }}</td>
          <td><a href="#/customer/{{ customer._id }}">{{ customer.lastName }}</a></td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td><a href="#/customer/{{ customer._id }}">
                <button type="button" class="btn btn-xs btn-primary glyphicon glyphicon-zoom-in"></button>
              </a>
          </td>
          <td>
              <a class="btn btn-xs btn-warning" href="#/booking/{{customer._id}}" role="button">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a>
          </td>
          <td><button type="button" class="btn btn-xs btn-primary" ng-click="remove(customer._id, $index)">
                <span class=" glyphicon glyphicon-remove"></span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
